:root {
    --font-roboto: "Roboto Slab", serif;
    --font-raleway: "Raleway", sans-serif;

    /* Dark Theme Colors */
    --toggle-bg: hsl(250, 70%, 30%);
    --toggle-fg: hsl(200, 100%, 60%);
    --toggle-img: url("/src/assets/dark-theme.png");
    --bg-color: #212426;
    --text-color: #f9d3b4;
    --input-bg-color: #1f2123;
    --input-text-color: #a1a1a1;
    --input-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    --movie-bg-color: #343739;
    --movie-hover-opacity: 0.3;
    --movie-title-color: #f9d3b4;
    --movie-subtitle-color: #f0f0f0;
    --hover-bg-color: hsl(220, 5%, 50%);
    --gradient-color: rgba(249, 211, 180, 1);
    --gradient-transparent: rgba(249, 211, 180, 0);
}

#light {
    /* Light Theme Overrides */
    --toggle-bg: hsl(27, 85%, 80%);
    --toggle-fg: hsl(30, 85%, 60%);
    --toggle-img: url("/src/assets/light-theme.png");
    --bg-color: hsl(0, 0%, 100%);
    --text-color: #1c1d1f;
    --input-bg-color: #ffffff;
    --input-text-color: #1c1d1f;
    --input-box-shadow: 5px 5px 7px #d9d9d9, -5px -5px 7px #ffffff;
    --movie-bg-color: hsl(0, 0%, 89%);
    --movie-title-color: hsl(27, 85%, 30%);
    --movie-subtitle-color: #1c1d1f;
    --gradient-transparent: rgba(249, 211, 180, 0.1);
}