:root {
    --font-roboto: "Roboto Slab", serif;
    --font-raleway: "Raleway", sans-serif;

    /* Dark Theme Colors */
    --movie-hover-opacity: 0.3;
    --bg-color: hsl(204, 7%, 14%);
    --toggle-bg: hsl(250, 70%, 30%);
    --text-color: hsl(27, 85%, 84%);
    --toggle-fg: hsl(200, 100%, 60%);
    --input-bg-color: hsl(210, 6%, 13%);
    --movie-bg-color: hsl(204, 5%, 21%);
    --input-text-color: hsl(0, 0%, 63%);
    --hover-bg-color: hsl(220, 5%, 50%);
    --movie-title-color: h.sl(27, 85%, 84%);
    --movie-subtitle-color: hsl(0, 0%, 94%);
    --toggle-img: url("/src/assets/dark-theme.png");
    --input-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    --h1-color: linear-gradient(to right, #f9d3b4 0%, #f9d3b400 100%);
}

#light {
    /* Light Theme Overrides */
    --bg-color: hsl(0, 0%, 100%);
    --toggle-bg: hsl(27, 85%, 80%);
    --toggle-fg: hsl(30, 85%, 60%);
    --text-color: hsl(220, 5%, 12%);
    --movie-bg-color: hsl(0, 0%, 89%);
    --input-bg-color: hsl(0, 0%, 100%);
    --input-text-color: hsl(220, 5%, 12%);
    --movie-title-color: hsl(27, 85%, 30%);
    --movie-subtitle-color: hsl(220, 5%, 12%);
    --toggle-img: url("/src/assets/light-theme.png");
    --gradient-transparent: hsla(27, 85%, 84%, .3);
    --input-box-shadow: 5px 5px 7px #d9d9d9, -5px -5px 7px #ffffff;
    --h1-color: linear-gradient(to right, #eaa23e 0%, #f9d3b44d 100%);
}