@import url("../variables.css");

.toggle-container {
    top: 3.5rem;
    right: 3.5rem;
    position: absolute;
}

.toggle {
    visibility: hidden;
}

.toggle+label {
    display: flex;
    cursor: pointer;
    align-items: center;
    color: var(--text-color);
}

.toggle+label::before {
    width: 2.5rem;
    content: "";
    height: 1.5rem;
    border-radius: 1rem;
    margin-right: .5rem;
    transition: all .3s ease-in-out;
    background-color: var(--toggle-bg);
}

.toggle+label::after {
    content: "";
    left: .2rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    border-radius: 1rem;
    transition: all .3s ease-in-out;
    background-color: var(--toggle-fg);
}

.toggle:checked+label::after {
    transform: translateX(100%);
}

@media screen and (max-width: 600px) {
    .toggle-container {
        top: 3rem;
        right: 2.7rem;
    }
}

@media screen and (max-width: 400px) {
    .toggle-container {
        top: 3rem;
        right: 2re
    }
}