@import url("../variables.css");

.Toggle-container {
    top: 4rem;
    right: 4rem;
    position: absolute;
}

.toggle {
    visibility: hidden;
}

.toggle+label {
    display: flex;
    cursor: pointer;
    align-items: center;
    color: var(--text-color);
}

.toggle+label::before {
    width: 2.5rem;
    content: "";
    height: 1.5rem;
    border-radius: 1rem;
    margin-right: .5rem;
    background-color: var(--toggle-bg);
    transition: all .3s ease-in-out;
}

.toggle+label::after {
    content: "";
    left: .2rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    border-radius: 1rem;
    background-color: var(--toggle-fg);
    transition: all .3s ease-in-out;
}

.toggle:checked+label::after {
    transform: translateX(100%);
}